<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">SkillTeamProject</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>

    <!-- SCRIPTS -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- JQuery -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>

<!-- Navbar Here -->
<th:block layout:replace="~{fragments/header :: header}"/>
<!-- Navbar Here -->

<!-- Content Here -->
<th:block layout:fragment="content"/>
<!-- Content Here -->

</body>
</html>